<div class="advert-details">
    <h3 class="advert-details-title">{{title}}</h3>
    <p class="advert-details-text">{{text}}</p>
    <p>Price: <span class="advert-details-price label label-info">{{price}}</span></p>
</div>