<div class="search-panel form-inline">
    <input type="search" class="search-panel-input form-control" placeholder="Search"/>
    <button class="search-panel-clear btn btn-default">Clear</button>
</div>